@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Inter", sans-serif;
}
h1 {
  font-weight: 400;
  font-size: 1rem;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}

h3 {
  font-weight: 400;
  font-size: 0.8rem;
  font-size: clamp(0.8rem, 0.64rem + 0.8vw, 1.6rem);
}

p {
  font-size: 0.8rem;
  font-size: clamp(0.8rem, 0.64rem + 0.8vw, 1.6rem);
}
.demo-container {
  width: 1200px;
  height: 800px;
  resize: both;
  overflow: auto;
  padding: 20px 0px;
}

.bar-graph {
  transition: background-color 0.2s ease-out;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  --background-color: #faf8f6;
  --positive-color: #76d660;
  --negative-color: #c78383;
  --neutral-color: #b0b0b0;
  --line-color: #b0b0b0;
  --text-color: black;
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 4px;
}

.bar-graph.dark {
  --text-color: white;
  --background-color: #454545;
  --line-color: #dddcd4;
  --neutral-color: #f1eeee;
}

.graph-container {
  flex: 1 1 auto;
  display: flex;
  width: auto;
}

.bar-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  grid-area: 1/1;
  padding: 0px 50px 0px 10px;
}

.bar-container-grid {
  /* CSS Grid trick to overlap */
  display: grid;
  flex: 1 1 auto;
}

.bar {
  transition: all 0.2s ease-out;
  flex: 1;
}

.tick-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  grid-area: 1/1;
  flex-direction: column-reverse;
}

.tick-label {
  height: 0px;
  line-height: 0px;
  text-align: left;
  display: flex;
}

.tick {
  flex: 1 1 auto;
  border-top: 1px solid grey;
  margin-right: 30px;
}

.tick-label {
  text-align: right;
  margin-right: 9px;
  flex-direction: column-reverse;
}

.tick-label-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.bar-label {
  position: relative;
  transition: all 0.2s ease-out;
  top: 10px;
  height: 0px;
}

.bar-top-label {
  position: relative;
  transition: all 0.2s ease-out;
  height: 0px;
  top: -23px;
  opacity: 0;
}
.bar-top-label.hovered {
  opacity: 1;
}

.bar-color {
  transition: background-color 0.2s ease-out;
  background-color: var(--neutral-color);
  flex-grow: 1;
  animation: 1s ease-out 0s grow;
  transform-origin: bottom center;
  width: 100%;
}

.bar-color.negative {
  transform-origin: top center;
}

.bar-color.hovered {
  background-color: var(--positive-color);
}

.bar-color.negative.hovered {
  background-color: var(--negative-color);
}

.bar-label.hovered {
  transform: skew(-8deg) translateX(0.13rem);
}

@keyframes grow {
  0% {
    transform: scaleY(0);
  }
  20% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.y-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.y-label p {
  writing-mode: sideways-lr;
  padding: 5px;
}

.testing-control-board {
  width: 400px;
}
.testing-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.testing-control > input {
  width: 70%;
}
